html {
    /* height: 100vh;
    width: 100vw; */
    background-image: url(silhouette-photography-of-trees-and-birds-2080961.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h1 {
    font-size: 16px;
    margin-top: 10px;
}

#qs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}


#pulledQ {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 200px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #26afeb;
    border: 1px solid #26afeb;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}


#iBrojPitanja {
    width: 180px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px;
    margin-bottom: 10px;
}

#unosniTaster {
    display: flex;
    flex-direction: column;
}

button:hover {
    background-color: #1c7faa;
    border: 1px solid #1c7faa;
}

.pitanjaIkugle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stoperica {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ukupnoVreme {
    display: flex;
    justify-content: space-between;
}


footer {
    bottom: 0;
    background-color: black;
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

footer>div {
    padding: 5px 10px;
}

.heart {
    height: 10px;
}

#isPit {
    display: none;
    width: 23%;
}

.item {
    margin: 10px
}




